%h1 Listing reports

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @available_reports.each do |report|
      %tr
        %td= ar.name
        %td= link_to 'New Report', new_report_path
%br
