%h1 Listing Available Reports
%br
%table{style: 'width: 50%'}
  %thead{style: 'text-align:center; font-weight:bold;'}
    %tr
      %th ID
      %th Name
      %th

  %tbody{style: 'text-align:center;'}
    - @available_reports.each do |report|
      %tr
        %td= report.id
        %td= report.name       
        %td
          = render partial: 'rp/reports/form_tag', :locals => { :report => report }
